<h1><%= I18n.t('title') %></h1>
<p>
  <%= t("sample.text_entry_header") %>
</p>
<%= form_with scope: :yaml_sample, url: yaml_samples_path, local: true do |form| %>
  <p>
    <%= form.text_area :text, placeholder: t("sample.text_entry_placeholder") %>
  </p>
  <p>
    <%= form.submit t("sample.text_entry_submit") %>
  </p>
<% end %>
<p>
  <%= t("sample.file_upload_header") %>
</p>
<%= form_with scope: :yaml_sample, url: yaml_samples_path, local: true do |form| %>
  <p>
    <%= form.file_field :file %>
  </p>
  <p>
    <%= form.submit t("sample.file_upload_submit") %>
  </p>
<% end %>
